 ../../../../.atom/
        ../../../../.aws/
        ../../../../.bash_history
        ../../../../.gitconfig
        ../../../../.lesshst
        ../../../../.ssh/
        ../../../../.viminfo
        ../../../../.vscode/
        ../../../../3D Objects/
        ../../../../AppData/
        ../../../../Contacts/
        ../../../../Downloads/
        ../../../../Favorites/
        ../../../../Links/
        ../../../../Music/
        ../../../../NTUSER.DAT
        ../../../../NTUSER.DAT{b975018f-0b1d-11ec-88a0-10f00567a088}.TM.blf
        ../../../../NTUSER.DAT{b975018f-0b1d-11ec-88a0-10f00567a088}.TMContainer00000000000000000001.regtrans-ms
        ../../../../NTUSER.DAT{b975018f-0b1d-11ec-88a0-10f00567a088}.TMContainer00000000000000000002.regtrans-ms
        ../../../
        ../../../../Pictures/
        ../../../../Saved Games/
        ../../../../Searches/
        ../../../../Videos/
        ../../../../eagles-batch-devops-projects/
        ../../../../jenkinsproject/
        ../../../../ntuser.dat.LOG1
        ../../../../ntuser.dat.LOG2
        ../../../../ntuser.ini

